<!DOCTYPE html>
<html>
    <head>
        <title>{{ options['title'] }}</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='apple-touch-icon.png') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body class="page-{{ options.active_page }}">
        <div id="header">
        {% block header %}{% endblock %}
        </div>

        <div id="content">
        {% block content %}{% endblock %}
        </div>

        <div id="edit-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Submit Time</h4>
                    </div>
                    <div class="modal-body">
                        <div id="edit-modal-error-message" class="alert alert-danger">
                            <h4 id="edit-modal-error-title">Something went wrong.</h4>
                            <p id="edit-modal-error-content">That link couldn't be added; try again later. <a id="edit-modal-error-popover" data-toggle="popover" data-content="">What was the error?</a></p>
                        </div>

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="edit-modal-person-field" class="col-xs-2 control-label">Person</label>
                                <div class="col-xs-10">
                                    <select id="edit-modal-person-field" class="form-control">
                                        {% for person in options['all_people'] %}
                                        <option value="{{ person.id }}">{{ person.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <hr/>

                            <div class="form-group">
                                <label for="edit-modal-time-field" class="col-xs-2 control-label">Time</label>
                                <div class="col-xs-10">
                                    <input id="edit-modal-time-field" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit-modal-split1-field" class="col-xs-2 control-label">Split 1</label>
                                <div class="col-xs-10">
                                    <input id="edit-modal-split1-field" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit-modal-split2-field" class="col-xs-2 control-label">Split 2</label>
                                <div class="col-xs-10">
                                    <input id="edit-modal-split2-field" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit-modal-split3-field" class="col-xs-2 control-label">Split 3</label>
                                <div class="col-xs-10">
                                    <input id="edit-modal-split3-field" type="text" class="form-control" />
                                </div>
                            </div>

                            <hr/>

                            <div id="character-field" class="form-group character">
                                <label for="edit-modal-character-field" class="col-xs-2 control-label">Character</label>
                                <div class="col-xs-10">
                                    <input id="edit-modal-character-field" type="text" class="form-control" />
                                </div>
                            </div>
                            <div id="kart-field" class="form-group">
                                <label for="edit-modal-kart-field" class="col-xs-2 control-label">Kart</label>
                                <div class="col-xs-10">
                                    <input id="edit-modal-kart-field" type="text" class="form-control" />
                                </div>
                            </div>
                            <div id="wheels-field" class="form-group">
                                <label for="edit-modal-wheels-field" class="col-xs-2 control-label">Wheels</label>
                                <div class="col-xs-10">
                                    <input id="edit-modal-wheels-field" type="text" class="form-control" />
                                </div>
                            </div>
                            <div id="glider-field" class="form-group">
                                <label for="edit-modal-glider-field" class="col-xs-2 control-label">Glider</label>
                                <div class="col-xs-10">
                                    <input id="edit-modal-glider-field" type="text" class="form-control" />
                                </div>
                            </div>

                            <hr/>

                            <div class="form-group">
                                <label for="edit-modal-proof-field" class="col-xs-2 control-label">Proof</label>
                                <div class="col-xs-10">
                                    <input id="edit-modal-proof-field" type="file" class="form-control" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="edit-modal-cancel-button" type="button" class="btn btn-default" data-dismiss="modal" onclick="hideAddError();">Cancel</button>
                        <button id="edit-modal-submit-button" type="button" class="btn btn-primary" onclick="submitTime();">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='kartbucket.js') }}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>
