{% extends 'header.html' %}
{% block content %}

{% if options['game'].allows_customisation %}
    {% set span = 5 %}
{% else %}
    {% if options['game'].choice_of_kart %}
        {% set span = 3 %}
    {% else %}
        {% set span = 2 %}
    {% endif %}
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="person-name" rowspan="2"></th>
                            {% for person in options['people'] %}
                            <th class="person-name" colspan="{{ span }}">{{ person.name }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for person in options['people'] %}
                            <th>Time</th>
                            <th>Character</th>
                            {% if options['game'].allows_customisation or options['game'].choice_of_kart %}
                            <th>Kart</th>
                            {% endif %}
                            {% if options['game'].allows_customisation %}
                            <th>Wheels</th>
                            <th>Glider</th>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for cup in options['tracks'] | batch(options['game'].cup_length) %}
                        {% for track in cup %}
                        <tr>
                            <td>{{ track.name }}</td>
                            {% for person in options['people'] %}
                            <td>--:--.---</td>
                            <td>Mario</td>
                            {% if options['game'].allows_customisation or options['game'].choice_of_kart %}
                            <td>Soda Jet</td>
                            {% endif %}
                            {% if options['game'].allows_customisation %}
                            <td>Mushroom</td>
                            <td>Parafoil</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="cup-separator" colspan="50"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
