{% extends 'header.html' %}
{% block content %}

{% if options['game'].allows_customisation %}
    {% set span = 5 %}
    {% set customisation = 'true' %}
    {% set kart = 'true' %}
{% else %}
    {% if options['game'].choice_of_kart %}
        {% set span = 3 %}
        {% set customisation = 'false' %}
        {% set kart = 'true' %}
    {% else %}
        {% set span = 2 %}
        {% set customisation = 'false' %}
        {% set kart = 'false' %}
    {% endif %}
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="person-name" rowspan="2"></th>
                            {% for person in options['people'] %}
                            <th class="person-name" colspan="{{ span }}">{{ person.name }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for person in options['people'] %}
                            <th>Time</th>
                            <th>Character</th>
                            {% if options['game'].allows_customisation or options['game'].choice_of_kart %}
                            <th>Kart</th>
                            {% endif %}
                            {% if options['game'].allows_customisation %}
                            <th>Wheels</th>
                            <th>Glider</th>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for cup in options['tracks'] | batch(options['game'].cup_length) %}
                        {% set cup_num = loop.index0 %}
                        {% for track in cup %}
                        {% set track_num = loop.index0 %}
                        {% set track_index = track_num + (cup_num * options['game'].cup_length) %}
                        <tr>
                            <td class="track-name">{{ track.name }}</td>
                            {% for person in options['people'] %}
                            {% set person_num = loop.index0 %}
                            {% set time = options['times'][track_index][person_num] %}
                                {% if time %}
                            <td id="time-{{ track.id }}-{{ person.id }}">
                                <a onclick="prepareInfoModal({{ track.id }}, {{ person.id }});"
                                   class="time"
                                   href="#">{{ time }}</a>
                                <a onclick="prepareEditModal({{ track.id }}, '{{ track.name }}',
                                                '{{ person.id }}', '{{ person.name }}',
                                                '{{ time.character }}', '{{ time.kart_body }}', '{{ time.kart_wheels }}', '{{ time.kart_glider }}',
                                                {{ kart }}, {{ customisation }});"
                                   href="#"
                                   class="edit-button"
                                   data-toggle="modal"
                                   data-target="#edit-modal">
                                    <i class="button fa fa-fw fa-pencil"></i>
                                </a>
                            </td>
                            <td id="character-{{ track.id }}-{{ person.id }}">{{ time.character or '???' }}</td>
                                    {% if options['game'].allows_customisation or options['game'].choice_of_kart %}
                            <td id="kart-{{ track.id }}-{{ person.id }}">{{ time.kart_body or '???' }}</td>
                                    {% endif %}
                                    {% if options['game'].allows_customisation %}
                            <td id="wheels-{{ track.id }}-{{ person.id }}">{{ time.kart_wheels or '???' }}</td>
                            <td id="glider-{{ track.id }}-{{ person.id }}">{{ time.kart_glider or '???'}}</td>
                                    {% endif %}
                                {% else %}
                            <td class="time-cell" id="time-{{ track.id }}-{{ person.id }}">
                                <a onclick="prepareInfoModal({{ track.id }}, {{ person.id }});"
                                   class="time"
                                   href="#">--:--.---</a>
                                <a onclick="prepareEditModal({{ track.id }}, '{{ track.name }}',
                                                '{{ person.id }}', '{{ person.name }}',
                                                '', '', '', '',
                                                {{ kart }}, {{ customisation }});"
                                   href="#"
                                   class="edit-button"
                                   data-toggle="modal"
                                   data-target="#edit-modal">
                                    <i class="button fa fa-fw fa-pencil"></i>
                                </a>
                            </td>
                            <td id="character-{{ track.id }}-{{ person.id }}">---</td>
                                    {% if options['game'].allows_customisation or options['game'].choice_of_kart %}
                            <td id="kart-{{ track.id }}-{{ person.id }}">---</td>
                                    {% endif %}
                                    {% if options['game'].allows_customisation %}
                            <td id="wheels-{{ track.id }}-{{ person.id }}">---</td>
                            <td id="glider-{{ track.id }}-{{ person.id }}">---</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="cup-separator" colspan="50"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
